@import url("content.css");
@import url("card.css");

*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  margin-top: 1%;
  margin-bottom: 3%;

}
ul{
  list-style-type: none;
  float: right;
  margin-top: 25px;
  margin-right: 25px;
}

ul li{
  display: inline-block;

}

ul li a{
  text-decoration: none;
  color: red;
  padding: 5px 20px;
  border: 1px solid red;
  border-radius: 50px;
  transition: 0.6s ease-in-out;
  text-transform: uppercase;
}

ul li a:hover{
  background-color: red;
  color:white;
}

ul li.active a{
  background-color: red;
  color:white;

}

.logo img{
  float: left;
  width: 200px;
  height: auto;
  padding: 5px 20px;
}

.menu{
  max-width: 1200px;
  margin:auto;
}

